<% provide(:title, '新規登録') %>

<h1>新規登録</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: 'form-control' %>
      

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "再パスワード" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "新規登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>