<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= image_tag micropost.picture.url if micropost.picture?  %>
    <li><%= micropost.content %></li>
      <% if current_user?(micropost.user) %>
    <%= link_to "削除", micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <div id="comment-post-<%= micropost.id.to_s %>">
      <%= render 'comment_list', { micropost: micropost } %>
    </div>
    <hr>
    <div class="row actions" id="comment-form-post-<%= micropost.id.to_s %>">
      <%= form_for [micropost, Comment.new], html: { class: "w-100" }, remote: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :micropost_id, value: micropost.id %>
        <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
      <% end %>
    </div>
    
  
  </span>
  <%= render partial: 'likes/like', locals: { micropost: micropost, likes: @likes } %>
</li> 